.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outer-container {
  margin-top: -15vh;
  z-index: -1;
  margin-left: 10vw;
}

.btn-outlined {
  border: 1px solid;
  border-color: #ffffff;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 4vh;
}

.btn-outlined:hover {
  color: #ffffff;
}

.movie-card-container {
  display: flex;
  overflow-x: auto;
  padding: 10px;
}

.movie-card {
  min-width: 400px;
}

.movie-card-favorite {
  min-width: 450px;
  margin-left: 20px;
  margin-top: 10px;
}

.movie-card + .movie-card {
  margin-left: 20px;
}

.movie-img {
  width: 150px;
  height: 150px;
  border-radius: 25px;
}

.illustration {
  width: 40vw;
  margin-left: 10vw;
  margin-top: 15vh;
}

.title-page {
  font-style: bold;
  font-size: 5rem;
  color: #ffffff;
  margin-top: 23vh;
}

.tagline {
  font-style: italic;
  color: #ffffff;
}

.info {
  margin-top: 20vh;
  color: #ffffff;
  margin-right: 25px;
}

.add-card {
  width: 50vw;
  margin: 10vh 0;
}

.add-illustration {
  width: 15vw;
}

.add-tag {
  border-color: #3E2089 !important;
  color: #ffffff !important;
  background-color: #3E2089;
  border: 1px solid;
}

.tag-chip {
  border: 1px solid;
  border-color: #3E2089 !important;
  border-radius: 10px;
  margin-left: 10px;
}

.close {
  margin-left: 10px;
  color: #3E2089;
}

.close:hover {
  cursor: pointer;
}

.btn-submit {
  background-color: #3E2089;
  color: #ffffff;
}
.content {
  margin-top: 10vh;
}

.image-poster {
  width: 24vw;
  height: 70vh;
}

.star-icon {
  color: #3E2089;
}

.nav-tabs .nav-item .nav-link {
  border: 3px solid transparent;
  color:#000 !important;
  border-radius:0;
}

.nav-tabs .nav-item .active {
  border: 3px solid transparent;
  color: #3E2089 !important;
  border-bottom-color: #3E2089 ;
}

.loading-spinner {
  color: #3E2089;
  width: 100px;
  height: 100px;
  margin-top: 50vh;
}

.error-illustration {
  width: 40vw;
  margin-top: 10vh;
}

.error-msg {
  color: #3E2089;
}

.error-form {
  color: red;
}